<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-striped text-centre">
                <thead>
                
                <tr>
                    
                    <th scop="col">User Id</th>
                    <th scop="col">Id</th>
                    <th scop="col">Titile</th>
                    <th scop="col">Completed</th>
                   
                </tr>
            
            </thead>
            <tbody>
                <tr *ngFor="let i of data" >
                    <td>{{i.userId}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.completed}}</td>
                </tr>
            </tbody>
       
            </table>
             
        </div>
    </div>
</div>
